# This file was originally managed centrally by release-tools but has been
# locally modified after moving to monorepo and is no longer in sync with release-tools.
pyparsing<3.0.0  # aodhclient is pinned in zaza and needs pyparsing < 3.0.0, but cffi also needs it, so pin here.

requests>=2.18.4

stestr>=2.2.0

# stestr uses testtools.compat._b which was removed in testtools 2.8.0.
testtools<2.8.0

coverage>=4.5.2
pyudev              # for ceph-* charm unit tests (need to fix the ceph-* charm unit tests/mocking)
git+https://github.com/openstack-charmers/zaza.git#egg=zaza
git+https://github.com/openstack-charmers/zaza-openstack-tests.git#egg=zaza.openstack

# Needed for charm-glance:
git+https://opendev.org/openstack/tempest.git#egg=tempest

croniter            # needed for charm-rabbitmq-server unit tests
psutil
